node_modules
**/node_modules
.pnpm-store
dist
**/dist
.next
**/.next
**/storybook-static
.git
.env
.agent
.vscode
.idea
.env.*
!.env.example
*.log
docker-compose.yml
Dockerfile*
.DS_Store

# Testing
**/tests
**/vitest.config.ts
coverage
