# Dependencies
node_modules/
.pnpm-store/

# Build Outputs & Frameworks
dist/
dist-ssr/
build/
out/
.next/
.vercel/
storybook-static/
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Environment & Secrets
.env
.env.*
!.env.example
*.local
*.pem

# Editor & OS Files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
